@import "./variables";
@import "./mixin";

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 100%;
}
.on-top {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

.bread-crumb-line {
  width: 95%;
  margin: 0 auto;
  > a {
    font-weight: 600;
    color: black;
    text-decoration: none;
    &:hover {
      color: $color-active;
    }
  }
}
.swiper-container {
  .swiper-button-next {
    height: 100%;
    right: 0;
    top: calc(50% + 7px);
    padding: 0 30px;
    transform: translateY(-45%);
    outline: none;
    &::after {
      @include desktop {
        font-size: 30px;
      }
      @include large-tablet {
        font-size: 30px;
      }
      @include tablet {
        font-size: 30px;
      }
      @include mobile {
        font-size: 30px;
      }
    }
  }
}
.swiper-container {
  .swiper-button-prev {
    height: 100%;
    left: 0;
    top: calc(50% + 7px);
    padding: 0 30px;
    transform: translateY(-45%);
    outline: none;
    &::after {
      @include desktop {
        font-size: 30px;
      }
      @include large-tablet {
        font-size: 30px;
      }
      @include tablet {
        font-size: 30px;
      }
      @include mobile {
        font-size: 30px;
      }
    }
  }
}

.album-container {
  width: 100%;
  .swiper-container {
    width: 100%;
    .swiper-button-next,
    .swiper-button-prev {
      visibility: hidden;
      padding: 0;
      border-radius: 99px;
      background-color: white;
      border: 1px solid;
      @include desktop {
        visibility: visible;
        height: 50px;
        width: 50px;
      }
      @include large-tablet {
        visibility: visible;
        height: 45px;
        width: 45px;
      }
      @include tablet {
        visibility: visible;
        height: 45px;
        width: 45px;
      }
      @include mobile {
        visibility: visible;
        height: 40px;
        width: 40px;
      }
      &::after {
        @include desktop {
          font-size: 30px;
        }
        @include large-tablet {
          font-size: 25px;
        }
        @include tablet {
          font-size: 25px;
        }
        @include mobile {
          font-size: 20px;
        }
      }
    }
  }
}

.turn-off {
  display: none;
}

#dropdown-basic:focus {
  //remove button outline Bootstrap
  box-shadow: none;
}
.dropdown-menu.show {
  width: 100%;
  a:hover {
    background-color: rgb(194, 194, 194);
  }
}

footer.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 30px;
}

.result-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 40px;
  @include desktop {
    grid-template-columns: repeat(3, 1fr);
    > .album-item {
      width: 100%;
    }
    gap: 25px 25px;
  }
  @include large-tablet {
    grid-template-columns: repeat(3, 1fr);
    > .album-item {
      width: 100%;
    }
    gap: 30px 30px;
  }
  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    > .album-item {
      width: 100%;
      > .album-name {
        font-size: 16px;
      }
      > .album-band-name {
        font-size: 14px;
      }
      > .album-price {
        font-size: 20px;
      }
    }
    gap: 30px 30px;
  }
  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    > .album-item {
      width: 80%;
    }
    gap: 30px 30px;
  }
}

.product-part-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include super-large-desktop {
    gap: 35px 35px;
  }
  @include large-desktop {
    gap: 35px 35px;
  }
  @include desktop {
    > .album-item {
      width: 100%;
    }
    gap: 25px 25px;
  }
  @include large-tablet {
    > .album-item {
      width: 100%;
    }
    gap: 30px 30px;
  }
  @include tablet {
    > .album-item {
      width: 100%;
      > .album-name {
        font-size: 16px;
      }
      > .album-band-name {
        font-size: 14px;
      }
      > .album-price {
        font-size: 20px;
      }
    }
    gap: 30px 30px;
  }
  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    > .album-item {
      width: 80%;
    }
    gap: 30px 30px;
  }
}

.swal2-actions {
  > .swal2-styled.swal2-confirm {
    @include button;
    width: 250px;
    outline: none;
  }
}

.arrow-icon-carousel-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 999px;
  background-color: rgb(119, 119, 119);
  opacity: 0.8;
  transition: 0.5s;
  @include large-tablet {
    width: 35px;
    height: 35px;
    padding: 25px;
  }
  @include tablet {
    width: 30px;
    height: 30px;
    padding: 20px;
  }
}

.arrow-icon-carousel {
  font-size: 35px;
  @include large-tablet {
    font-size: 30px;
  }
  @include tablet {
    font-size: 25px;
  }
}

.carousel-control-next,
.carousel-control-prev {
  transition: 0.5s;
}

.carousel-control-next:hover {
  background-color: black;
  opacity: 0.6;
}

.carousel-control-prev:hover {
  background-color: black;
  opacity: 0.6;
}
