$color-active:#DC2751;
$color-active-hover: #ff1d52;
$color-bg-navbar: #282834;
$font-roboto: 'Roboto', sans-serif;
$font-catamaran: 'Catamaran', sans-serif;
$mobile-width: 575px;
$tablet-width: 767px;
$large-tablet: 991px;
$desktop-width: 1199px;
$large-desktop: 1200px;
$super-large-desktop: 1600px;