@import "../../scss/setting/mixin";
@import "../../scss/setting/variables";

.navbarDesktop {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color-bg-navbar;
  z-index: 20;
  display: flex;
  @include large-tablet {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
  .navbarContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 72px;
    @include desktop {
      width: 95%;
    }
    .navbarLogo {
      text-decoration: none;
      margin: 0;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      font-family: $font-catamaran;
      color: white;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
