@import "../../scss/setting/variables" ;

.navbarPageItem{
  margin-left: 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
  &:hover{
      color: $color-active;
      text-decoration: none;
  }
  &.activeLink{
      color: $color-active;
  }
}
.navbarPageItem:nth-child(1){
  margin: 0;
}